user/__pycache__/
user/migrations/
management/__pycache__/
management/migrations/
static/
media/
staticfiles/
headers/
gmailsender/credentials.json
gmailsender/token.pickle
gmailsender/__pycache__
customer/__pycache__
customer/__pycache__/admin.cpython-310.pyc
customer/__pycache__/admin.cpython-310.pyc
customer/__pycache__/apps.cpython-310.pyc
customer/__pycache__/serializers.cpython-310.pyc
customer/__pycache__/apps.cpython-310.pyc
customer/__pycache__/views.cpython-310.pyc
