Django
djangorestframework
django-celery-results
django-celery-beat
celery
moviepy
djangorestframework-simplejwt
django-cors-headers
django-sslserver
decorator
pillow
mysqlclient
moviepy
django-celery-beat
imageio
imageio-ffmpeg
mod-wsgi
mongoengine
PyJWT      
pymongo    
sqlparse
tornado
websocket-client
six
setuptools
urllib3